---
const URL_RANDOM_AVATAR = 'https://api.minimalavatars.com/avatar/random/png';
let avatar = URL_RANDOM_AVATAR;
---

<title>Random Image</title>
<body>
	<img src={avatar} alt="Avatar" />
	<b>Descripcion:</b>
	<a>Esta es una descripcion pequeña del avatar</a>
</body>